
body{
    background-color: red;
    background-image: url(../Image/satan.jpg); /* .. = revenir en arriere*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: purple;
    text-align: center;
    font-weight: bold; /* gras */
    font-size: 60px; /* taille du texte */
}
h2{
    color: white;
    text-align: center;
    font-weight: bold; /* gras */
}  
body {
  margin: 0; /* contrôle l espace autour de l'élément en fonction de sses voisin */
  padding: 0; /* controlle l espace en fonction de la bordure du conteneur et du contenu */
  /* ces deux "fonction" nous permettent de ne pas avoir de bordure supplementaire (masterclass) */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%; /* Les images prennent au maximum 50% de la largeur de l'écran */
}

.image-grid a { /* cible uniquement les balise de "a" de la class image grid (super utile)*/
    flex: 1; /* Chaque image prend la même proportion d'espace disponible */
    box-sizing: border-box;
}

.image-grid img { /* meme chose mais pour les images */
  width: 100%;
  height: auto;
}
#cirque{
    height: 99%;
}
#nour{
    height: 99%;
}